<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cacard.demo"
    android:versionCode="5"
    android:versionName="5.0.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- for float window -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/android_yellow"
        android:label="@string/app_name"
        android:permission="android.permission.ACCESS_COARSE_LOCATION"
        android:theme="@android:style/Theme.Holo.Light">


        <service android:name="com.cacard.demo.Service.StartedServiceDemo" />
        <service android:name="com.cacard.demo.Service.BoundServiceDemo" />
        <service android:name=".Media.AudioPlayerService" />

        <receiver android:name="com.cacard.demo.Broadcast.BroadcastReceiverSimple" />
        <receiver android:name="com.cacard.demo.Broadcast.PackageAddRemoveReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ActivityA" />
        <activity android:name=".Activity.ActivityB" />
        <activity android:name=".Activity.ActivityC" />
        <activity android:name=".Activity.ActivityLoopDemo" />
        <activity android:name=".Fragment.A_SimpleDemo.A_FragmentStaticActivity" />
        <activity android:name=".Fragment.A_SimpleDemo.B_FragmentDynamicActivity" />
        <activity android:name="com.cacard.demo.Fragment.FragmentCommutation" />
        <activity android:name="com.cacard.demo.Fragment.FragmentSupportMultipleScreen" />
        <activity android:name="com.cacard.demo.Fragment.FragmentSupportMultipleScreen_DetailActivity" />
        <activity android:name=".Drawable.DrawingCacheCaptureActivity" />
        <activity android:name="com.cacard.demo.MemoryLeak.ActivityWithThread" />
        <activity android:name="com.cacard.demo.MemoryLeak.ActivityUsingHandler" />
        <activity android:name=".Animator.ActivityScrollerDemo" />
        <activity android:name="com.cacard.demo.Activity.ActivityScreenSize" />
        <activity android:name="com.cacard.demo.Thread.Loader_CursorLoader_SimpleCursorAdapter" />
        <activity android:name=".Activity.ActivitySpIODemo" />
        <activity android:name="com.cacard.demo.ViewDragHelperDemo.VDHActivity" />
        <activity android:name="com.cacard.demo.GestureDetectorDemo.GestureDetectorDemoActivity" />
        <activity android:name="com.cacard.demo.Activity.ActivityTestRootMeasureSpec" />
        <activity android:name="com.cacard.demo.Drawable.ClipDrawableActivity" />
        <activity android:name="com.cacard.demo.Drawable.DrawableDemo" />
        <activity android:name="com.cacard.demo.Drawable.TransitionDrawableActivity" />
        <activity android:name="com.cacard.demo.launchmode.SingleInstance.Activity0" />
        <activity android:name="com.cacard.demo.Drawable.ShapeDrawableActivity" />
        <activity android:name="com.cacard.demo.Graphic.MySurfaceViewActivity" />
        <activity android:name="com.cacard.demo.Graphic.MyGLSurfaceViewActivity" />
        <activity android:name=".Activity.ActivityInstrumentationTest" />
        <activity android:name="com.cacard.demo.Animator.ActivityValueAnimator" />
        <activity android:name="com.cacard.demo.Event.ActivityMotionEvent" />
        <activity android:name=".Media.ActivityAudioPlayer" />
        <activity android:name=".Media.ActivityAudioPlayerUsingService" />
        <activity android:name=".Media.ActivityAudioPlayerUsingService2" />
        <activity android:name=".Activity.ActivitySpIODemo2" />
        <activity
            android:name="com.cacard.demo.launchmode.SingleInstance.Activity1"
            android:launchMode="singleInstance" />
        <activity android:name="com.cacard.demo.launchmode.SingleInstance.Activity2" />
        <activity android:name="com.cacard.demo.CustomControl.PageableHorizonalScrollView.ActivityPageableHorizonalScrollView" />
        <activity android:name=".FloatWindow.ActivityFloatWindow" />
        <activity android:name=".Canvas.CycleProgressViewActivity" />
        <activity android:name=".IO.ActivityDirInfo" />
        <activity android:name=".Canvas.CanvasLayerActivity" />
        <activity android:name=".Canvas.CanvasOperationActivity" />
        <activity android:name=".Canvas.MusicWaveAnimationActivity" />
        <activity android:name=".Canvas.Paint.ColorFilter.ColorMatrixColorFilterDemoActivity" />
        <activity
            android:name=".Canvas.Paint.MaskFilter.MaskFilterDemoActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".Canvas.Paint.PathEffect.PathEffectActivity" />
        <activity android:name=".Canvas.PathActivity" />
        <activity android:name=".Canvas.Paint.Shader.ShaderActivity" />
        <activity
            android:name=".Canvas.FlashDotDemoActivity"
            android:hardwareAccelerated="false" />
        <activity android:name=".CustomView.Flat.SimpleActivity" />
        <activity android:name=".Canvas.DrawingText.DrawingOneByOneOrDrawingStringActivity" />
        <activity android:name=".Canvas.EntryActivity" />
        <activity android:name=".Canvas.DrawingText.FontMetricsDemoActivity" />
        <activity android:name=".Canvas.DrawingText.WaveTextViewActivity" />
        <activity android:name=".Activity.ActivityInfo" />
        <activity android:name=".Notification.MIUIDeskIconNotificationDemoActivity" />

        <service android:name=".Service.BoundAndStartService" />
    </application>

</manifest>